{% extends 'navigationbar.html' %}
 {% load static %}
{% block body %}
<div class="container" style = "margin-top:50px">
<h2 class="abtn">About Us</h2>
</div>
<div
          class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">This dummy website was developed as a project for PBL. This includes
            Admin login page,user login ,About us,Contact us. This page can edit the list of patients and doctors which
            are currently present in the hospital. Other Hospitals can look forward for our idea for building their online contact.
          </p>
          <p class="leading-relaxed text-lg mb-4">

            This webpage is totally developed by students on their own using HTML,CSS,Javascript and Django.
          </p>
          <p class="leading-relaxed text-lg mb-4">
            Hope you like your website!!!!

          </p>
        <p class="leading-relaxed text-lg mb-4">
            Developers-
            <div> Venkatesh Joshi</div>
            <div> Akanksha Waghmare</div>
            <div> Priyank Shah</div>
            <div> Rahul Amrutkar</div>
            <div> Atharva Kothawade</div>
        </p>



          <path d="M5 12h14M12 5l7 7-7 7"></path>

        </div>
{% endblock %}


